/* ==========================================================================
   TABLES
   ========================================================================== */

$snow: #fffafa;

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;

  & + table {
    margin-top: 1em;
  }
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr, td, th {
  vertical-align: middle;
}

tr:nth-of-type(odd) {
  background-color: $snow;
}
